<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
    <body>

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Sarp-A Enterprise</h2>
                    </div>
                    <div class="col-12">
                        <h1>We deal in all kinds of shoes</h1>
                        <h3>"In God We Trust"</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="{%static 'img/atta1.jpeg' %}" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>Learn About Us</p>
                            <h2>25 Years Experience</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                Atta Sarpong has been in the shoe business since the year, 2000. Has been able to recruit other people into the business.
                                He says, ''Life has not been easy, but by the Grace of God I have made a lot out of this business".
                            </p>
                            <p>
                                He always advice his workers to put their trust in God and all things will work good on their side.
                            </p>
                            <a class="btn" href="#">👞👠👟</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Other Shoe Dealers</p>
                    <h2>Meet Our Shoe Dealers In Ash-Town</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{%static 'img/ensuro.jpeg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Ensuro</h2>
                                <p>Mr.Kwaku Sarpong</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{%static 'img/sarforo.jpeg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Saforo</h2>
                                <p>Mr. Kwame Sarfo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{%static 'img/kwesman.jpeg' %}" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Akwesman</h2>
                                <p>Mr.Akwesi Oppong</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

</body>
</html>
{% endblock content %}
